/* * {
    outline:1px solid red;
} */

body {
    background: url(./img/bg-body.png) center/100%;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
}


/* header */
header {
    background-color: #241C18;
    border-bottom: 1px solid white;
    padding: 1rem;
}

@media (min-width: 768px) {
    header {
        padding: 1.5rem 2rem;
    }
}

@media (min-width: 992px) {
    header {
        padding: 1.5rem 5rem;
    }

    header .navbar {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
    }
}

header .navbar .navbar-nav .nav-link {
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

header .navbar .navbar-nav .nav-link:hover {
    color: #FFC947;
}

/* main */
@media (min-width: 768px) {
    main {
        padding: 0 2rem;
    }
}

@media (min-width: 992px) {
    main {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
    }
}

.product_description {
    border: 1px solid white;
}

.text_box {
    background-image: url(./img/bg-pattern.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.text_box h2 {
    text-align: center;
    text-shadow: #fff 2px 0 0px;
}

.text_box p {
    text-align: justify;
    color: #5C544C;
}

.img_box {
    position: relative;
}

.cost_box {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: fit-content;
    text-align: center;
}

.cost {
    font-size: 1.5rem;
    color: black;
}

.item_info {
    display: inline-block;
    background: url(./img/buttons.png) no-repeat top left;
    text-decoration: none;
    color: #966A0F;
    line-height: 33px;
    font-size: 0.5rem;
    width: 111px;
}

.product_list .card {
    border: 0;
}

.product_list .card_article {
    background-color: #4C3A33;
    height: 100%;
}

.product_list .card_article_dark {
    background-color: #241C18;
}

.product_list .card_text_box {
    background: url(./img/separator-light.png) repeat-x;
    background-size: 10px 5px;
    color: #fff;
    padding: 1rem 2rem;
    text-align: justify;
}

.product_list h3 {
    color: #fac547;
}

.information_box {
    padding: 0.5rem 0;
    background-color: #fff;
}


.information_box .card {
    background: #DCDAD3;
}

.information_box a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 0.5rem;
}

.content_box {
    padding: 1rem;
    height: 100%;
}

.information_box h4 {
    font-size: 1rem;
    color: #7b7b7b;
    margin: 0;
}
.information_box .text_information {
    display: inline-block;

    text-decoration: none;
    font-size: 1.5rem;
    color: #332D2B;
    font-weight: bold;
    text-transform: uppercase;
}
.text_decoration {
    text-decoration: none;
}

.blog {
    
    height: 100%;
}

@media (min-width: 992px) {
    .blog{
        background: url(./img/separator-light-vertical.png) left repeat-y;
        background-size: 10px 5px;
    }
}

.card-title {
    font-weight: bold;
    color: #000;
}
/* footer */

footer {
    padding:0 1rem;

    border-top: 2px solid white;
    background-color: #E1B23F;
}

@media (min-width: 768px) {
    footer {
        padding: 2rem 4rem 0 4rem;
    }
}

.showroom_box a {
    color: #251B17;
}

.posts_box>div {
    display: flex;
}

.time {
    background-image: url(./img/bg-time.png);
    background-size: 100%;
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
    position: relative;
    color: white;
    text-align: center;
    margin-right: 1rem;
}


footer button {
    background: url(./img/buttons.png) no-repeat -20px -40px;
    color: white;
    cursor: pointer;
    border: 0;
}


.social_box i:hover {
    color: #fff;
}

.social_box i {
    font-size: 4rem;
    color: #000;
}
.social_icon {
    display: flex;
    gap: 1rem;
}
.social_box {
    background: url(./img/separator-dark-vertical.png) top repeat-x;
    background-size: 10px 10px;
}


.footer_box {
    padding: 1rem 0;
    color: #AB7D10;
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .footer_box {
        flex-direction: row;
        justify-content: space-between;
        background: url(./img/separator-dark-vertical.png) top repeat-x;
        background-size: 10px 10px;
    }

    .footer_nav {
        order: 1;
    }
}

.footer_nav {
    text-align: center;
    height: 100%;
}

.footer_box p {
    margin: 0;
    text-align: center;

}

.footer_box a {
    color: #AB7D10;
    text-decoration: none;
    padding: 0.3rem;
    display: inline-block;

}

.footer_box a:hover {
    color: #fff;
}

.post_contant h6 {
    font-weight: bold;
    color: #291F32;
}


footer .row,
footer .footer_box {
    max-width: 1000px;
    margin: 0 auto;
}

/* @media (max-width: 992px) {
    footer [class*='col'] {
        background: url(./img/separator-dark-vertical.png) bottom repeat-x;
        background-size: 10px 10px;
    }
}

@media (min-width: 992px) {
    footer [class*='col-md-6'] {
        background: url(./img/separator-dark-vertical.png) left repeat-y;
        background-size: 10px 10px;
        padding-left: 2rem;
    }
} */
.newsletter_box {
    margin-bottom: 1rem;
}
    footer [class*='col'] {
        background: url(./img/separator-dark-vertical.png) bottom repeat-x;
        background-size: 10px 10px;
    }


@media (min-width: 992px) {
    footer [class*='col'] {
        background: url(./img/separator-dark-vertical.png) left repeat-y;
        background-size: 0;
         background-size: 10px 10px;
        padding-left: 2rem;
    } 

    footer [class*='col']:first-child {
        background: none; 
     }
 }