@use "../utilities/breakpoint";
@use "../utilities/color";
@use "../utilities/breakpoint" as *;

$img-social: url("../images/social.png");

@mixin media_sprite($x, $y) {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: $img-social;
  background-repeat: no-repeat;
  background-position: $x $y;

  &:hover {
    background-position: $x bottom;
  }
}
.media_box {
  margin-top: 1rem;
  text-align: center;
  @include breakpoint($ipad) {
    margin-top: 0;
    text-align: right;
  }
  a {
    display: block;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: color.$black;
    text-decoration: none;
  }
  .social_media {
    font-size: 0;
    a + a {
      margin-left: 0.5rem;
    }
    a {
      display: block;
      margin-top: 0.5rem;
      font-size: 1rem;
      color: color.$black;
      text-decoration: none;
      &:first-child {
        @include media_sprite(0, 0);
      }

      &:nth-child(2) {
        @include media_sprite(-37px, 0);
      }

      &:nth-child(3) {
        @include media_sprite(-74px, 0);
      }

      &:nth-child(4) {
        @include media_sprite(-111px, 0);
      }

      &:nth-child(5) {
        @include media_sprite(-150px, 0);
      }
    }
  }
}
