@use "../utilities/breakpoint";
@use "../utilities/color";

@use "../components/flickr";
@use "../components/form";
@use "../components/testimonials";
@use "../components/copyright_box";

$img-subbg: url("../images/subbg.gif");

footer {
  margin-top: 4rem;
  box-shadow: 0 0 5px;
  h4 {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  .footer_box {
    padding: 2rem;
    background-image: $img-subbg;
  }
  .copyright_box {
    padding: 1rem 0.5rem;
  }
}
