@use "../utilities/breakpoint" as *;
@use "../utilities/color";

@use "../components/media";

$img-subbg: url("../images/subbg.gif");

header {
  display: flex;
  padding: 1.5rem 1rem;
  background-image: $img-subbg;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 0 5px;
  @include breakpoint($ipad) {
    justify-content: space-between;
  }
  h1 {
    margin: 0;
  }
  a {
    display: inline-block;
  }
  img {
    max-width: 100%;
  }
}
