@use "../utilities/breakpoint";
@use "../utilities/color";

.choose {
  ul {
    margin: 0;
    padding-left: 0;
  }
  li {
    display: flex;
    margin: 0;
    padding: 0.5rem 1.2rem;
    border-bottom: 1px solid color.$gray-line;
    p {
      margin: 0.3rem 0 0 1rem;
    }
    a {
      flex: 0 0 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      background: color.$gray;
      color: color.$white;
      text-align: center;

      &:hover {
        background-color: color.$green;
        color: color.$white;
      }
    }
  }
}
