@use "../utilities/breakpoint";
@use "../utilities/color";

.event_card {
  display: flex;
  justify-content: space-between;

  &_content {
    width: 50%;
    span {
      display: inline-block;
      padding: 0 1rem;
      color: color.$white;
      background-color: color.$green;
    }
  }

  &_img {
    width: 45%;
  }
}
