@use "../utilities/breakpoint";
@use "../utilities/color";

.flickr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  img {
    width: 100%;

    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
}
