@use "../utilities/breakpoint";
@use "../utilities/color";

input,
textarea {
  background: color.$gray-dialogue;
  width: 100%;
  border: 1px solid #cccccc;
  resize: none;

  &:focus {
    outline: 2px solid color.$green;
  }
}

%carousel_button {
  margin-top: 1rem;
  color: color.$white;
  text-transform: uppercase;
  border: none;
}
.reset {
  @extend %carousel_button;
  background-color: color.$black;
}
.submit {
  @extend %carousel_button;
  background-color: color.$green;
}
