@use "../utilities/breakpoint";
@use "../utilities/color";

.service {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: color.$gray-service;
  height: 100%;
  gap: 1rem;

  &:hover {
    color: color.$white;
    background: rgba(color.$gray-service-hover, 0.9);
  }
  a {
    padding: 0.5rem 1rem;
    margin-top: auto;
    text-transform: capitalize;
    text-decoration: none;
    color: color.$black;
    background: color.$gray-service-button;
  }
  .service_img {
    width: 62px;
    height: 59px;
  }
  img {
    width: 100%;
  }
  h2 {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
}
